/** ラジオボタングループ(v-radio-group)を使用すると flex:1 1 auto;(auto) となっており右側に余白がとられてしまうため無効化(none)  */
.v-radio-group {
  flex: none !important;
}

/** スクロールバーデザイン */
::-webkit-scrollbar {
  background: lightgray;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
